/* Declarações globais */
:root {
  --img-wood: url("imgs/wood.jpg");
  --img-paper1: url("imgs/paper1.jpg");
  --img-paper2: url("imgs/paper2.jpg");
  --img-texture: url("imgs/text_texture.jpg");

  --main-color: #683422;
  --secondary-color: #ddd3bf;

  font-family: "Platypi", serif;
}

/* >>> FORMATAÇÃO DE ELEMENTOS <<< */

/* Cria as texturas de papel */
.papel {
  position: relative;

  /* Ativa o pseudoelemento onde o background será desenhado */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  /* Traz os elementos filho para frente do background */
  &>* {
    position: relative;
    z-index: 2;
  }

  /* Papel tipo 1 */
  &.tipo1::before {
    background: #bcb19b var(--img-paper1) top center/1200px;
    box-shadow: 0 0 30px #8a4d0f inset;
    filter: url(#borda-rasgada-curta) drop-shadow(2px 2px 30px #301d0abe);
  }

  /* Papel tipo 2 */
  &.tipo2::before {
    background: #fbfbfb var(--img-paper2) top center/cover;
    box-shadow: 0 0 10px #706a5550 inset;
    filter: url(#borda-rasgada-longa) drop-shadow(2px 2px 10px #301d0a70);
  }
}

/* Negrita links */
a {
  font-weight: 600
}

/* Texturiza as letras */
h1,
h2,
h3,
p,
span,
[role="textbox"] {
  background-image: var(--img-texture);
  background-size: 300px;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Define tamanho das letras */
p,
span,
button,
[role="textbox"] {
  font-size: 12pt;

  @media (max-width: 720px) {
    font-size: 11pt;
  }
}

/* Formata o campo custom de texto */
div[role="textbox"] {

  padding: 0 15px 15px 15px;
  border-bottom: 2px solid var(--main-color);

  &:focus {
    outline: none;
  }

  &[data-value=""] {
    &::before {
      content: "Digite aqui seu texto";
    }
  }
}

/* Formata o checkbox */
label:has([type="checkbox"]) {

  display: flex;
  align-items: center;
  position: relative;

  /* Cria um checkbox customizado */
  &::before {
    position: absolute;
    top: 5px;
    content: "";
    width: 10px;
    height: 10px;
    outline: 2px solid var(--main-color);
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    transition: 150ms ease-in-out;
    cursor: pointer;
  }

  & input {
    margin: 0 10px 0 0;
  }

  & span {
    cursor: pointer;
    transition: 150ms ease-in-out;
  }

  &:has(input:checked) {

    /* Marca um checkbox customizado */
    &::before {
      background: var(--main-color);
    }

    & span {
      font-weight: 600;
    }
  }

}

/* Formata botões */
button,
.button {
  background: var(--img-texture);
  color: var(--secondary-color);
  font-family: "Platypi", serif;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  padding: 7px 21px;
  transition: 150ms ease-in-out;

  &[href=""] {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}


/* >>> FORMATAÇÃO DO SITE <<< */

body {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  background: #af896f var(--img-wood) center center/cover no-repeat fixed;
  min-height: calc(100vh - 40px);

  @media (max-width: 720px) {
    padding: 5px;
    min-height: calc(100vh - 10px);
  }

}

.vinheta {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}

.conteudo {

  width: calc(100% - 80px);
  padding: 40px;
  max-width: 900px;

  @media (max-width: 720px) {
    width: calc(100% - 60px);
    padding: 30px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & img {
    width: 250px;
    max-width: 40%;
  }

  & h1 {
    font-size: 30pt;
    padding-bottom: 15pt;
    text-align: center;

    @media (max-width: 720px) {
      font-size: 25pt;
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    gap: 0px;

    & img {
      max-width: 100%;
    }

    & h1 {
      margin: 0;
    }
  }
}

form#tradutor {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  gap: 10px;

  &>* {
    width: 50%;
  }

  @media (max-width: 720px) {
    flex-direction: column;

    &>* {
      width: 100%;
    }
  }

}

.camposForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.containerLA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LAImages {
  width: 100%;
  height: 100%;
  max-height: 300px;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  rotate: 5deg;
  overflow: visible;

  position: relative;

  @media (max-width: 720px) {
    width: 90%;
    height: 90%;
  }

  img {
    position: absolute;
    inset: 0;
    width: 100%;
  }

  &:has([data-type="new"]) {

    img[data-type="old"] {
      animation: 5s ease-in-out translateOld;
    }

    img[data-type="new"] {
      animation: 5s ease-in-out translateNew;
    }

  }

}

@keyframes translateOld {
  0% {
    opacity: 100%;
    rotate: 0deg;
    filter: blur(0px)
  }

  30% {
    opacity: 0%;
  }

  60% {
    rotate: 1080deg;
    opacity: 0%;
    filter: blur(100px)
  }

  100% {
    rotate: 1080deg;
    opacity: 0%;
    filter: blur(100px)
  }
}

@keyframes translateNew {
  0% {
    opacity: 0%;
    rotate: 0deg;
    filter: blur(10px);
  }

  30% {
    opacity: 100%;
  }

  60% {
    rotate: 1080deg;
    opacity: 100%;
    filter: blur(0px);
  }

  100% {
    rotate: 1080deg;
    opacity: 100%;
    filter: blur(0px);
  }
}